.container img {
    width: 100%;
}

.content {
    position: absolute;
    top: 0;
    right: 0;

    margin: 15rem 10rem;
    text-align: center;

    color: var(--color);
}

.content h1 {
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}

.content p {
    font-size: 1.8rem;
}

.content .text p:first-child {
    margin: 2rem 0rem;
}

.content .text p+p {
    color: var(--color-p);
}

.content .text p strong {
    color: var(--color);
}

.content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    margin: 2rem 0rem;
}

.content .img img {
    width: 250px;
    border-radius: 20px;
}


.faixa img {
    margin-top: -0.5rem;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    margin-top: -7rem;
}

.banner img {
    width: 350px;
}

.information {
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.information h2 {
    font-size: 4rem;
    margin-left: 2.5rem;
}

.information h2 span {
    color: var(--color-span);
}

.information p {
    font-size: 1.5rem;
    margin-left: 2.5rem;
}


.information .imagem {
    display: flex;
    gap: 1.5rem;
    margin: 2rem
}

.information .imagem img {
    width: 250px;
    border-radius: 18px;
}


@media(max-width: 1700px) {
    .content {
        margin: 10rem 8rem;
        text-align: center;
    }

    .content h1 {
        font-size: 3.5rem;
    }

    .content p {
        font-size: 1.3rem;
    }

    .content .img img {
        width: 200px;
    }

    .banner {
        margin-top: -6rem;
    }

    .banner img {
        width: 300px;
    }

    .information h2 {
        font-size: 3rem;
    }

    .information p {
        font-size: 1.2rem;
    }

    .information .imagem img {
        width: 200px;
    }

}


@media(max-width: 1200px) {
    .content {
        margin: 8rem 5rem;
        text-align: center;
    }

    .content h1 {
        font-size: 3rem;
    }

    .content p {
        font-size: 1.1rem;
    }

    .content .img img {
        width: 150px;
    }

    .banner {
        margin-top: -4.5rem;
    }

    .banner img {
        width: 250px;
    }

    .information h2 {
        font-size: 2.5rem;
    }

    .information p {
        font-size: 1.1rem;
    }

    .information .imagem img {
        width: 150px;
    }

}


@media(max-width: 950px) {
    .content {
        margin: 5rem 3rem;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1rem;
    }

    .content .img img {
        width: 120px;
    }

    .banner {
        margin-top: -3.5rem;
    }

    .banner img {
        width: 200px;
    }

    .information h2 {
        font-size: 2rem;
    }

    .information p {
        font-size: 1rem;
    }

    .information .imagem img {
        width: 120px;
    }

}


@media(max-width: 800px) {
    .content {
        margin: 3rem 2rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 0.8rem;
    }

    .content .img {
        gap: 1rem;
    }

    .content .img img {
        width: 100px;
    }

    .banner {
        margin-top: -3rem;
    }

    .banner img {
        width: 150px;
    }

    .information h2 {
        font-size: 1.5rem;
    }

    .information p {
        font-size: 1rem;
    }

    .information .imagem {
        gap: 1rem;
    }

    .information .imagem img {
        width: 100px;
    }

}

@media(max-width: 650px) {
    .content {
        margin: 2rem 1rem;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .banner {
        gap: 1rem;
        margin-top: -2.5rem;
    }

    .information h2 {
        font-size: 1.2rem;
    }

    .information p {
        font-size: 0.8rem;
    }
}



@media(max-width: 550px) {
    .content {
        margin: 1rem 0.5rem;
    }

    .content h1 {
        font-size: 1.2rem;
    }

    .content p {
        font-size: 0.7rem;
    }

    .content .text p:first-child {
        margin: 1rem 0rem;
    }


    .banner {
        margin-top: -2rem;
    }

    .banner img {
        width: 100px;
    }

    .information h2 {
        font-size: 1rem;
    }

    .information p {
        width: 350px;
    }
}


@media(max-width: 470px) {
    .content {
        margin: 0.5rem 0.3rem;
    }

    .content h1 {
        font-size: 1rem;
    }

    .content .text p:first-child {
        margin: 0.5rem 0rem;
    }


    .banner {
        margin-top: -1.5rem;
    }

    .banner img {
        width: 100px;
    }

    .information h2 {
        font-size: 1rem;
    }

    .information p {
        width: 300px;
    }
}


@media(max-width: 400px) {
    .content {
        margin: 0.4rem 0.2rem;
    }

    .content h1 {
        font-size: 1rem;
    }

    .content .img {
        gap: 0.5rem;
    }

    .banner {
        margin-top: -1.3rem;
    }

    .banner img {
        width: 90px;
    }

    .information p {
        width: 220px;
    }

    .information .imagem {
        gap: 0.5rem;
    }
}