.text {
    margin-top: 8rem;
}

.text h1 {
    font-size: 3.5rem;
    margin-left: 3rem;
}

.text h1 span {
    color: var(--color-span);
}

.globalCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin: auto;
    width: 1100px;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.carousel span img {
    width: 50px;
}

.carousel span .seta {
    transform: scaleX(-1);
}

.carousel img {
    width: 300px;
}

.carousel .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.carousel .card .paragraph {
    text-align: center;
    font-size: 1.2rem;
}

.carousel .card .paragraphOpen {
    display: none;
}

.banner .closeImagem {
    display: none;
}

.carousel .card .paragraph span {
    color: var(--color-span);
}

.banner {
    margin: 8rem 0rem;
    text-align: center;
    background-color: var(--bg-banner);
}

.banner img {
    width: 600px;
}


@media(max-width: 1700px) {
    .text h1 {
        font-size: 2.5rem;
    }

    .carousel {
        margin: auto;
        width: 900px;
        margin-top: 3rem;
    }

    .carousel img {
        width: 230px;
    }

    .carousel .card .paragraph {
        text-align: center;
        font-size: 1rem;
    }

    .banner img {
        width: 500px;
    }
}

@media(max-width: 1300px) {
    .text h1 {
        font-size: 2rem;
    }

    .carousel {
        width: 800px;
    }

    .carousel img {
        width: 200px;
    }

    .carousel .card .paragraph {
        font-size: 0.8rem;
    }

    .banner img {
        width: 400px;
    }

}


@media(max-width: 950px) {
    .text h1 {
        font-size: 1.8rem;
    }

    .carousel {
        width: 600px;
    }

    .carousel img {
        width: 150px;
    }

    .carousel .card .paragraph {
        font-size: 0.7rem;
    }

    .banner img {
        width: 350px;
    }

    .carousel span img {
        width: 30px;
    }

}


@media(max-width: 800px) {
    .text h1 {
        font-size: 1.5rem;
            margin-left: 0rem;
            text-align: center;
    }

    .carousel {
        width: 550px;
    }

}


@media(max-width: 650px) {
    .text {
        margin-top: 3rem;
    }

    .text h1 {
        font-size: 1.5rem;
    }

    .carousel {
        width: 535px;
    }

    .banner {
        margin: 3rem 0rem;
        padding: 0.5rem 0rem;
    }

    .carousel span img {
        width: 30px;
        padding: 0.3rem;
    }
}

@media(max-width: 550px) {

    .text {
        margin: 0;
    }

    .text h1 {
        font-size: 1.4rem;
    }


    .banner {
        margin: 1rem 0rem;
    }

   .card .paragraphClose{
    display: none;
   }

   .carousel .card .paragraphOpen {
    height: 68px;
    font-size: 0.6rem;
    display: block;
   }
   
    .carousel {
        width: 450px;
    }

    .carousel img {
        width: 120px;
        margin-bottom: 2rem;
    }

    .banner .openImagem {
        display: none;
    }

    .banner .closeImagem {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

}

@media(max-width: 470px) {

    .carousel {
        width: 400px;
    }

    .carousel img {
        width: 100px;
    }

    .banner img {
        width: 300px;
    }

    .carousel span img {
        width: 25px;
        padding: 0.3rem;
    }

    .text h1 {
        font-size: 1.2rem;
    }
}


@media(max-width: 420px) {

    .carousel {
        width: 370px;
    }

    .carousel img {
        width: 90px;
    }

}