.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;

    margin-top: 10rem;
    padding: 3rem 0rem;

    background-color: var(--color-span);
}

.content img {
    width: 250px;
}

.contentCard {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.contentCard img {
    width: 70px;
}

.content h1 {
    margin-bottom: 2rem;
    color: var(--color-strong)
}

.content a {
    text-decoration: none;
    color: var(--color-p);
}



.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons img {
    width: 35px;
}

.contentLinks {
    display: flex;
    flex-direction: column;
}

.link {
    height: 40px;
}

@media(max-width: 1700px) {
    .content {
        gap: 10rem;
    }
}


@media(max-width: 1200px) {
    .content {
        gap: 5rem;
    }

    .content img {
        width: 200px;
    }


    .contentCard img {
        width: 50px;
    }

    .content h1 {
        margin-bottom: 1.5rem;
    }


    .icons img {
        width: 30px;
    }

    .link {
        height: 35px;
    }
}


@media(max-width: 950px) {
    .content {
        gap: 5rem;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .content a {
        font-size: 0.8rem;
    }

}


@media(max-width: 800px) {
    .content {
        gap: 4rem;
    }

    .content h1 {
        font-size: 1.2rem;
    }

    .content a {
        font-size: 0.7rem;
    }

}


@media(max-width: 650px) {
    .content {
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 5rem;
    }

}